/* App-wide styling */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navBox{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#navBox a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;
}

#navBox a:hover {
   transform: scale(1.1);
    transition: 1s;
}

#waitlist{
    background-color: #1f1f1f;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#waitlist:hover{
    transform: scale(1.1);
}