/* App-wide styling */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#nav{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navBox{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: coral;
}

#navBox a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    padding: 10px;
}

#navBox a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#waitlist{
    
}